/* Estilos para el encabezado */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1000;



    /* Contenedor del encabezado */
    .header__contenido {
        width: 100%;
        height: 96px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
        background-color: #5300c8;

    }

    /* Estilos para el logotipo */
    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    /* Estilos para el título */
    .titulo {
        font-family: "Press Start 2P", cursive;
        color: #e5e5e5;
        font-size: 24px;

        font-weight: 400;
        width: auto;
        height: auto;
    }
}

/* Estilos para el contenido principal */
main {
    width: 100%;
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;

    /* Contenedor del contenido principal */
    .main__contenido {
        display: flex;
        flex-direction: row;
        padding: 150px 40px 60px 40px;
        gap: 70px;
    }

    /* Sección de productos */
    .productos {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 40px;
        gap: 40px;
        align-items: center;
        justify-content: center;
    }

    /* Título de la sección de productos */
    .productos h1 {
        font-family: "Press Start 2P", cursive;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
    }

    /* Contenedor de las tarjetas de productos */
    .productos__container-shadows {
        width: 100%;
        height: 100%;
        display: flex;
        box-shadow: -12px 10px 5.8px rgba(0, 0, 0, 0.25);
    }

    /* Contenedor de productos */
    .productos__container {
        width: 100%;
        height: 50vh;
        display: flex;
        padding: 15px;
        gap: 115px;
        overflow: auto;
        flex-direction: column;
        justify-content: space-around;
    }

    /* Línea de productos */
    .productos__line {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0 0 10px 0;
        gap: 10px;
        flex-wrap: wrap;
    }

    /* Tarjeta de producto */
    .producto__card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 196px;
        height: 258px;
        border-radius: 10px;
        border: 3px solid black;
        padding: 10px;
        gap: 10px;
        background-color: #5d04d9;
        box-shadow: -5px 6px 3.3px rgba(0, 0, 0, 0.25);
    }

    /* Texto dentro de la tarjeta de producto */
    .producto__card p {
        color: #e5e5e5;
    }

    /* Contenedor de precio y botón de borrar */
    .producto__precio__y__borrar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    /* Contenedor del botón de borrar */
    .borrar__container {
        display: flex;
        position: relative;
    }

    /* Botón de borrar */
    .btn__borrar {
        position: absolute;
        width: 3vh;
        height: 3vh;
    }

    /* Sección para agregar productos */
    .agregar__productos {
        width: 50%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
        gap: 40px;
    }

    /* Formulario de agregar productos */
    .formulario {
        display: flex;
        width: 100%;
        height: 517px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
        gap: 40px;
    }

    /* Título del formulario */
    .formulario h1 {
        font-family: "Press Start 2P", cursive;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
    }

    /* Campo del formulario */
    .formulario__campo {
        color: #03318c;
        width: 392px;
        height: 58px;
        border-radius: 50px;
        border: 3px solid #03318c;
        outline: none;
    }

    /* Placeholder del input */
    input::placeholder {
        color: #03318c;
        line-height: 20.8px;
        font-family: "IBM Plex Mono", monospace;
        font-weight: 600;
        font-style: normal;
    }

    /* Estilos de los inputs */
    .input__nombre,
    .input__precio,
    .input__img {
        width: 100%;
        height: 100%;
        display: flex;
        box-sizing: border-box;
        padding: 20px;
        background-color: transparent;
    }

    input:focus {
        outline: none;
        /* Elimina el borde de enfoque */
    }

    /* Contenedor de los botones */
    .botones {
        display: flex;
        justify-content: space-around;
        width: 392px;
        height: 55px;
        gap: 13px;
    }

    /* Botón de enviar */
    .botón__enviar {
        width: 188px;
        height: 55px;
        border-radius: 15px;
        background-color: #03318c;
        color: white;
        border: 3px solid;
        outline: none;
        font-family: "IBM Plex Mono", monospace;
        font-weight: 500;
        font-style: normal;
    }

    /* Botón de limpiar */
    .botón__limpiar {
        color: #03318c;
        width: 188px;
        height: 55px;
        border-radius: 15px;
        border: 3px solid #03318c;
        outline: none;
        font-family: "IBM Plex Mono", monospace;
        font-weight: 500;
        font-style: normal;
    }
}

footer {
    display: flex;
    width: 100%;
    height: 100%;

    .footer__contenido {
        width: 100%;
        height: 100%;
        background-color: #5300c8;
        padding: 50px;
        text-align: center;
        justify-content: center;
        color: #f3f3f3;
        line-height: 20px;
    }

    /* Logo en el footer */
    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    /* Título en el footer */
    .titulo {
        font-family: "Press Start 2P";
        color: #e5e5e5;
        font-size: 24px;
        line-height: 16px;
        font-weight: 400;
    }

    /* Créditos en el footer */
    .créditos {
        color: #e5e5e5;
        font-family: "IBM Plex Mono", monospace;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
    }

    /* Créditos adicionales en el footer */
    .créditos2 {
        color: #e5e5e5;
        font-family: "IBM Plex Mono", monospace;
        font-weight: 200;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1199px) {
    main {
        width: 100%;
        height: auto;

        .main__contenido {
            width: 100%;
            height: auto;
            flex-direction: column-reverse;
            box-sizing: border-box;
            justify-content: center;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 599px) {
    header {
        display: flex;

        .header__contenido {
            width: 100%;
            height: auto;
            display: flex;
        }

        .logo {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    main {
        width: 100%;
        height: auto;

        /* Contenido principal en dispositivos pequeños */
        .main__contenido {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column-reverse;
            padding: 120px 40px 60px 40px;
            gap: 70px;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
        }

        /* Sección de productos en dispositivos pequeños */
        .productos {
            width: 100%;
            /* Ocupa todo el ancho disponible */
        }

        /* Sección para agregar productos en dispositivos pequeños */
        .agregar__productos {
            width: 100%;
            /* Ocupa todo el ancho disponible */
        }

        /* Formulario en dispositivos pequeños */
        .formulario {
            width: 100%;
            /* Ocupa todo el ancho disponible */
        }

        /* Campo del formulario en dispositivos pequeños */
        .formulario__campo {
            width: 100%;
            /* Ocupa todo el ancho disponible */
        }

        /* Contenedor de los botones en dispositivos pequeños */
        .botones {
            width: 100%;
            /* Ocupa todo el ancho disponible */
            height: auto;
            /* Ajusta la altura automáticamente */
            display: flex;
            /* Muestra los botones en una fila */
        }

        /* Botón de enviar en dispositivos pequeños */
        .botón__enviar {
            width: 50%;
            /* Ocupa la mitad del ancho disponible */
        }

        /* Botón de limpiar en dispositivos pequeños */
        .botón__limpiar {
            width: 50%;
            /* Ocupa la mitad del ancho disponible */
        }
    }

    footer {
        .logo {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}